---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
const daysTo = Math.ceil((new Date('2026-07-31').getTime() - Date.now()) / 86400000);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Fella!</h1>
			<p>
				Stella Pique here. I'll be working on this to learn more about HTML, CSS, web-development, design, blog/article writing, and of course to have a finished personal website.
			</p>

			<h4> I'll post: </h4>

			<ul>
				<li> Updates </li>
				<li> Portfolio Content </li>
				<li> Projects </li>
			</ul>

			<b> {daysTo} </b> days left of Project Star's clock. First cycle.
		</main>
		<Footer />
	</body>
</html>
